# Virtual environment directories
emotion_assistant_env/
venv/

# Python cache files
__pycache__/
*.py[cod]

# Large compiled libraries
*.dylib       # For macOS dynamic libraries
*.so          # For Linux shared objects
*.dll         # For Windows dynamic link libraries

# Environment and config files
.env

# Log and temporary files
*.log
*.tmp

# macOS system files
.DS_Store
